<!doctype html>
<html lang="en" ng-app="clienteModule">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap  -->
  <link rel="stylesheet" href="css/bootstrap.css">

  <title> Desenho  </title>
</head>

<body ng-controller="clienteControl">

  <script src="js/angular.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/j.query-1.12.2.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="control/clienteControl.js"></script>


  <div ng-include src="'menu.html'"></div>

  <div class="card border-secondary mb-3">
    <div class="card-header"> Cadastro de Desenho</div>
  </div>
  <ul class="nav nav-tabs" id="clienteTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="cadastro-tab" data-toggle="tab" href="#cadastro" role="tab"
        aria-controls="tabCadastro" aria-selected="true">Cadastro de Desenho</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="dados-tab" data-toggle="tab" href="#dados" role="tab" aria-controls="tabDados"
        aria-selected="false">Dados</a>
    </li>
  </ul>
  <div class="tab-content" id="clienteTabContent">
    <div class="tab-pane fade show active" id="cadastro" role="tabpanel" aria-labelledby="cadastro-tab">

      <br>
      <button type="button" ng-click="novo()" class="btn btn-primary">Novo</button>
      <button type="button" ng-click="salvar()" class="btn btn-success">Salvar</button>
      <button type="button" ng-click="excluir()" class="btn btn-danger">Excluir</button>
      <button type="button" ng-click="pesquisar()" class="btn btn-warning">Pesquisar</button>
      <br> <br>

      <form class="was-validated form-row">
          <div class="col-md-1 mb-3">
            <label for="txtCodigo">C&oacute;digo</label>
            <input type="text" ng-model="desenhoAnimado.codigo" class="form-control" disabled id="txtCodigo">
          </div>
  
          <div class="col-md-4 mb-3">
            <label for="txtNomeDesenho">Nome do Desenho </label>
            <input type="text" ng-model="desenhoAnimado.nomeDesenho" class="form-control is-valid"
              id="txtNomeDesenho" required>
            <div class="invalid-feedback">
              Digite o nome do desenho animado.
            </div>
          </div>
  
          <div class="col-md-4 mb-3">
            <label for="txtCategoria">Categoria </label>
            <input type="text" ng-model="desenhoAnimado.categoria" class="form-control is-valid" id="txtCategoria"
              required>
            <div class="invalid-feedback">
              Digite a Categoria
            </div>
          </div>
  
          <div class="col-md-2 mb-2">
            <label for="txtExibido">Ano de Exibição</label>
            <input type="text" ng-model="desenhoAnimado.exibido" class="form-control is-valid"
              id="txtExibido" required>
            <div class="invalid-feedback">
              Digite ano de Exibição
            </div>
          </div>
  
          <div class="col-md-3 mb-3">
            <label for="txtEpisodio">Melhor Episódio</label>
            <input type="text" ng-model="desenhoAnimado.episodio" class="form-control is-valid"
              id="txtEpisodio" required>
            <div class="invalid-feedback">
              Digite o melhor episódio
            </div>
          </div>
  
          <div class="col-md-2 mb-2">
            <label for="txtNotas">Notas </label>
            <input type="text" ng-model="desenhoAnimado.notas" class="form-control is-valid" id="txtNotas" required>
            <div class="invalid-feedback">
              Digite entre cinco e dez
            </div>
          </div>
  
          <div class="col-md-2 mb-2">
            <label for="txtPiorDesenho"> Pior Desenho </label>
            <input type="text" ng-model="desenhoAnimado.piorDesenho" class="form-control is-valid" id="txtPiorDesenho"
              required>
            <div class="invalid-feedback">
              Digite o pior Desenho
            </div>
          </div>
        </form>
      </div>
      <div class="tab-pane fade" id="dados" role="tabDados" aria-labelledby="dados-tab">
        <div role="tabpanel" class="tab-pane" id="dados">
          <input type="text" ng-model="criterio" class="form-control"
            placeholder="O que voc&ecirc; est&aacute; procurando?" /><br />
          <table class="table table-hover">
            <thead>
              <tr>
                <th>C&oacute;digo</th>
                <th>Nome do Desenho</th>
                <th>Categoria</th>
                <th>Exibição</th>
                <th>Melhor Episódio</th>
                <th>Notas</th>
                <th>Pior Desenho</th>
  
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="desenhoanimadoTabela in desenhoanimados | filter:criterio"
                ng-click="seleciona(desenhoanimadoTabela)">
                <td>{{desenhoanimadoTabela.codigo}}</td>
                <td>{{desenhoanimadoTabela.nomeDesenho}}</td>
                <td>{{desenhoanimadoTabela.categoria}}</td>
                <td>{{desenhoanimadoTabela.exibido}}</td>
                <td>{{desenhoanimadoTabela.episodio}}</td>
                <td>{{desenhoanimadoTabela.notas}}</td>
                <td>{{desenhoanimadoTabela.piorDesenho}}</td>
  
  
              </tr>
            </tbody>
          </table>
          <span ng-show="(desenhos | filter: criterio).length == 0">Infelizmente
            n&atilde;o temos o que voc&ecirc; est&aacute; procurando neste momento!!</span>
  
  
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
  </body>
  
  </html>